<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="blogList.css">
    <title>Invent Chat_blog_list</title>
  </head>
  <body class="Invent-Chat-_blog_list">
    <nav class ="mask">
        <img src="blogList-Images/group-71.png" srcset="blogList-Images/group-71@2x.png 2x, blogList-Images/group-71@3x.png 3x" class="Group-71">
     <p class="Blog">Blog</p>
    </nav>
    
  <div style = "margin-left: 140px;">
    <p class = "FASHION">FASHION</p>
    <p class="How-to-increase-your">How to increase your productivity with a Music </p>
    <p class="Aug-24-2020">Aug 24, 2020</p>
   
   
      
        <!-- jpg -->
       <img src="blogList-Images/mask.jpg"srcset="blogList-Images/mask@2x.jpg 2x, blogList-Images/mask@3x.jpg 3x"class="Mask">
   
       <p class ="This-is-an-example-o">This is an example of a WordPress post, you could edit this to put information about yourself or your site so readers know where you are coming from. 
        You can create as many posts as you like in order to share with your readers what is on your mind.
        
      </p>
       <button class = "Rectangle"><span class="Read-more">Read more</span> </p></button>

       
        
  </div>

  <!-- 2nd Image -->
  <div style = "margin-left: 140px;">
    <p class = "FASHION">FASHION</p>
    <p class="How-to-increase-your">How to increase your productivity with a Music</p>
    <p class="Aug-24-2020">Aug 24, 2020</p>
        <!-- jpg -->
       <img src="blogList-Images/mask.png"srcset="blogList-Images/mask@2x.png 2x, blogList-Images/mask@3x.png 3x"class="Mask">
       <p class ="This-is-an-example-o">This is an example of a WordPress post, you could edit this to put information about yourself or your site so readers know where you are coming from. 
        You can create as many posts as you like in order to share with your readers what is on your mind.</p>
       <button class = "Rectangle"><span class="Read-more">Read more</span> </p></button>
        
  </div>

  <!-- 3rd Image -->
  <div style = "margin-left: 140px;">
    <p class = "FASHION">FASHION</p>
    <p class="How-to-increase-your">How to increase your productivity with a Music</p>
    <p class="Aug-24-2020">Aug 24, 2020</p>
        <!-- jpg -->
       <img src="img/mask.jpg"srcset="img/mask@2x.jpg 2x, img/mask@3x.jpg 3x"class="Mask">
       <p class ="This-is-an-example-o">This is an example of a WordPress post, you could edit this to put information about yourself or your site so readers know where you are coming from. 
        You can create as many posts as you like in order to share with your readers what is on your mind.</p>
       <button class = "Rectangle"><span class="Read-more">Read more</span> </p></button>
        
  </div>

  <!-- 4th Image -->

  <div style = "margin-left: 140px;">
    <p class = "FASHION">FASHION</p>
    <p class="How-to-increase-your">How to increase your productivity with a Music</p>
    <p class="Aug-24-2020">Aug 24, 2020</p> 
        <!-- jpg -->
       <img src="img/mask.png"srcset="img/mask@2x.png 2x, img/mask@3x.png 3x"class="Mask">
       <p class ="This-is-an-example-o">This is an example of a WordPress post, you could edit this to put information about yourself or your site so readers know where you are coming from. 
        You can create as many posts as you like in order to share with your readers what is on your mind.</p>
       <button class = "Rectangle"><span class="Read-more">Read more</span> </p></button>
        
  </div>
  <div style = "margin-top: -3040px;"> 
    <p class="Email-Newsletter">Email Newsletter</p>
    <p class="Subscribe-my-Newslet">Subscribe my Newsletter for new blog posts, tips & new photos</p>
    <button class="Rectangle-Copy-23"><span class="Your-name">Your name</span></button>
    <button class="Rectangle-Copy-23" ><span class="Your-name">Your email adress</span></button>
    <button class ="Rectangle-Copy-231"><span class="SUBSCRIBE">SUBSCRIBE</span></button>
  </div>

  <!-- Footer -->
  <div>
    <footer class="Rectangle1f">
          <!-- png -->
         <img src="img/group-7.png"srcset="img/group-7@2x.png 2x, img/group-7@3x.png 3x"class="Group-7">
         <!-- png -->
          <img src="img/group-5.png"srcset="img/group-5@2x.png 2x,img/group-5@3x.png 3x"class="Group-5">
          <p class="Terms-Conditions-">Terms & Conditions & privacy policy </p>
          <span class="Path-4-Copy">|</span>
        <!-- svg -->
          <img src="img/fill-961.svg" class="Fill-961">
          <p class="Contect-Us">Contact Us </p>
          <span class="Path-4">|</span>
          <p class="Invent-Chat ">© 2020 Invent Chat</p>

    </footer> 
  </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>