<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- firstPage css link -->
    <link rel="stylesheet" href="blogView.css">

    <!-- photos links -->
    <link rel="icon" href="https://m3-static.marvelapp.com/favicon.ico">
    <link href="https://s3.eu-west-2.amazonaws.com/marvelapp-styleguide/fonts/fonts.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://m3-static.marvelapp.com/assets/app.css" />

    <title>Blog Landing Page!</title>
  </head>
  <body style="background-color:#232427;"> 
    <div style = " width: 1440px; height: 4492px;background-color:#232427;">
             <nav class="Mask" style = "background-color:#905ae9">
                 <!-- png -->
                  <img src="Images/group-71.png"srcset="Images/group-71@2x.png 2x, Images/group-71@3x.png 3x"class="Group-71">
                   <p class = "Blog">Blog </p>    
             </nav>
       <div style ="margin-left:140px;margin-top: -105px;" id = "xyz">
            <p class = "FASHION">FASHION</p>
            <P class = "How-to-increase-your ">How to increase your productivity with a Music</P>
            <p class = "Aug-24-2020">Aug 24 ,2020</p>
           <!-- jpg -->
            <img src="Imgs/mask.jpg"srcset="Img/mask@2x.jpg 2x,Imgs/mask@3x.jpg 3x"class="Mask-Copy">  
            <p class = "This-is-an-example-o">This is an example of a WordPress post, you could edit this to put information about yourself
                or your site so readers know where you are coming from. You can create as many posts as you like
                in order to share with your readers what is on your mind.This is an example of a WordPress post,
                you could edit this to put information about yourself or your site so readers know where you are 
                coming from. You can create as many posts as you like in order to share with your readers what is
                on your mind. This is an example of a WordPress post, you could edit this to put information about
                yourself or your site so readers know where you are coming from. You can create as many posts as 
                you like in order to share with your readers what is on your mind. This is an example of a
                WordPress post, you could edit this to put information about yourself or your site so readers know
                where you are coming from. You can create as many posts as you like in order to share with your 
                readers what is on your mind.
              </p>
              <p class = "How-to-increase"> How to increase</p>
                 
            <p class = "This-is-an-example-o" style = "margin-top: 5px;">This is an example of a WordPress post, you could edit this to put information about yourself
              or your site so readers know where you are coming from. You can create as many posts as you like
              in order to share with your readers what is on your mind.This is an example of a WordPress post,
              you could edit this to put information about yourself or your site so readers know where you are 
              coming from. You can create as many posts as you like in order to share with your readers what is
              on your mind. This is an example of a WordPress post, you could edit this to put information about
              yourself or your site so readers know where you are coming from. You can create as many posts as 
              you like in order to share with your readers what is on your mind. This is an example of a
              WordPress post, you could edit this to put information about yourself or your site so readers know
              where you are coming from. You can create as many posts as you like in order to share with your 
              readers what is on your mind.
           </p>
           <p class = "How-to-increase"> How to increase</p>

           <p class = "This-is-an-example-o" style="margin-top: 5px;">This is an example of a WordPress post, you could edit this to put information about yourself
              or your site so readers know where you are coming from. You can create as many posts as you like
               in order to share with your readers what is on your mind.This is an example of a WordPress post,
                you could edit this to put information about yourself or your site so readers know where you are 
                coming from.
            </p>

            <!-- jpg -->
          <img src="Images/mask-copy.jpg"srcset="Images/mask-copy@2x.jpg 2x, Images/mask-copy@3x.jpg 3x"class="Mask-Copy01">
            
          <p class = "This-is-an-example-o-Copy-2">This is an example of a WordPress post, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many posts as you like in order to share with your readers what is on your mind.This is an example of a WordPress post, you could edit this to put information about yourself or your site so readers </p>
          <p class = "How-to-increase"> How to increase</p>    
          <p class = "This-is-an-example-5">This is an example of a WordPress post, you could edit this to put information about yourself
            or your site so readers know where you are coming from. You can create as many posts as you like
                in order to share with your readers what is on your mind.This is an example of a WordPress post,
                you could edit this to put information about yourself or your site so readers know where you are 
                coming from. You can create as many posts as you like in order to share with your readers what is
                on your mind. This is an example of a WordPress post, you could edit this to put information about
                yourself or your site so readers know where you are coming from. You can create as many posts as 
                you like in order to share with your readers what is on your mind. This is an example of a
                WordPress post, you could edit this to put information about yourself or your site so readers know
                where you are coming from. You can create as many posts as you like in order to share with your 
                readers what is on your mind.
         </p>
         <!-- jpg -->
        <img src="Images/mask-copy-2.jpg"srcset="Images/mask-copy-2@2x.jpg 2x,  Images/mask-copy-2@3x.jpg 3x"class="Mask-Copy-5">

          
        <p class = "This-is-an-example-o" >This is an example of a WordPress post, 
          you could edit this to put information about yourself or your site so readers know where you are coming from.
           You can create as many posts as you like in order to share with your readers what is on your mind.
           This is an example of a WordPress post, you could edit this to put information about yourself or your site so readers This is an example of a WordPress post, 
           you could edit this to put information about yourself or your site so readers know where you are coming from. 
           You can create as many posts as you like in order to share with your readers what is on your mind.
           This is an example of a WordPress post, you could edit this to put information about yourself or your site so readers
            This is an example of a WordPress post, you could edit this to put information about yourself or your site so readers know where you are coming from.
        </p>

        <p class = "Related-Blogs">Related Blogs</p>
        <!-- first section -->
        <p class="How-to-increase-your"style="margin-top:34px" >How to increase your productivity with a Music</p>
        <p class ="FASHION-Aug-24-20"> <span class="text-style-1"> FASHION </span>    |    Aug 24, 2020</p>
        <img src="Img/mask.jpg" srcset="Img/mask@2x.jpg 2x, Img/mask@3x.jpg 3x" class="Mask1">  
        <p class="This-is-an-example-o1"> This is an example of a WordPress post, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many posts as you like in order to share with your readers what is on your mind.</p>
        <button class = "Rectangle"><span class="Read-more">Read more</span> </p></button>

        <!-- second section -->
        <div style="margin-left:600px;margin-top: -638px; ">
             <p class="How-to-increase-your"style="margin-top:34px;" >How to increase your productivity with a Music</p>
             <p class ="FASHION-Aug-24-20"> <span class="text-style-1"> FASHION </span>    |    Aug 24, 2020</p>
               <!-- png -->
             <img src="Imgs/mask.png"srcset="Imgs/mask@2x.png 2x,Imgs/mask@3x.png 3x"class="Mask1">  
             <p class="This-is-an-example-o1"> This is an example of a WordPress post, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many posts as you like in order to share with your readers what is on your mind.</p>
             <button class = "Rectangle"><span class="Read-more">Read more</span> </p></button>
        </div>

<!-- side info -->
        <div>
               <p class="Share">SHARE</p>
               <!-- png -->
               <img src="fbImg/group-7.png"srcset="fbImg/group-7@2x.png 2x,fbImg/group-7@3x.png 3x"class="Group-7">
               <!-- svg -->
               <img src="fbImg/group-2.svg"class="Group-2">
               <!-- png -->
               <img src="instaImg/group-4.png"srcset="instaImg/group-4@2x.png 2x, instaImg/group-4@3x.png 3x"class="Group-4">
                 <!-- svg -->
               <img src="instaImg/group-8.svg"class="Group-8">
                <p class="Email-Newsletter">Email Newsletter</p>
                <p class="Subscribe-my-Newslet">Subscribe my Newsletter for new blog posts, tips & new photos</p>
               <button class="Rectangle-Copy-23"><span class="Your-name">Your name</span></button>
               <button class="Rectangle-Copy-23"><span class="Your-name">Your email adress</span></button>
               <button class="Rectangle-Copy-231"><span class="SUBSCRIBE ">SUBSCRIBE</span></button>
         </div>
  </div>


        

        <div class="Rectangle11"style="margin-top:3480px;"></div>
       <!-- footer -->
           <Footer>
            <img src="Images/group-7.png"srcset="Images/group-7@2x.png 2x, Images/group-7@3x.png 3x"class="Group-7">
             <img src="Images/group-5.png"srcset="Images/group-5@2x.png 2x, Images/group-5@3x.png 3x"class="Group-5">   
        
                  <p class="Terms-Conditions-">Terms & Conditions & privacy policy </p>
                <p class = "Path-4-Copy">I</p>  
                <!-- png -->                
                 <img src="Images/fill-961.png"srcset="Images/fill-961@2x.png 2x, Imagesfill-961@3x.png 3x"class="Fill-961"/>
          </Footer>
       </div>   





    <script src="https://m3-static.marvelapp.com/assets/app.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>